<h1>Scotchy Scotch Scotch</h1>


<h3> <%= @scotch.name %></h3>
<h3> <%= @scotch.age %> Year</h3>
<h3> <%= @scotch.abv %> proof</h3>
<h3> <%= @scotch.region %> </h3>


<form action="/<%= @scotch.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Scotch">
