<h1>Scotchy Scotch Scotch</h1>


<h3> <%= @scotch.name %></h3>
<h3> <%= @scotch.age %> Year</h3>
<h3> <%= @scotch.abv %> proof</h3>
<h3> <%= @scotch.region %> </h3>

People who like me

<% @scotch.users.each do |user| %>
  <%= user.username %>
<% end %>

<form action="/scotch/<%= @scotch.slug %>/add" method="POST">
  <input type="submit" value="Add Scotch">
</form>
