



  <h3> <%= @user.username %></h3>




  <a href="/scotches">Pick a Scotch</a>
  <a href="/scotches/new">Add your own</a>


  <h1>Your Scotch</h1>
  <% @user.scotches.
  each do |scotch| %>

    <li> <a href="/scotches/<%= scotch.slug %> "> <%= scotch.name %> </a>
      <form action="/user/remove/<%= @user.slug %>/<%= scotch.slug %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="submit" value="Remove from Favorites">
    </form> </li>
  <% end %>


  <a href="/user/logout">log out</a>


  <form action="/user/delete/<%= @user.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Profile">
</form>
