<h1>Hello</h1>

  <h3> <%= @user.username %></h3>
  <h3> <%= @user.email %></h3>

  <a href="/scotch">Pick a Scotch</a>
  <a href="/scotch/new">Add your own</a>


  <h1>Your Scotch</h1>
  <% @user.scotches.
  each do |scotch| %>
  <a href="/scotch/<%= scotch.slug %> ">
    <li> <%= scotch.name %></li> <form action="/user/remove/<%= @user.slug %>/<%= scotch.slug %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="submit" value="Remove">
    </form>
  <% end %>



<form action="/user/<%= @user.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User">

</form>
