<h1>Hello!!!!</h1>

<%= current_user.id %>
<% @users.each do |user| %>

  <li>
    <a href="/user/<%= user.slug %>">   <%= user.username %></a>
    </li>
  <% end %>


  <% @scotches.each do |scotch| %>
    <li>
    <a href="/scotch/<%= scotch.slug %>"><%= scotch.name %> </a>

    </li>




<% end %>
